@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Oswald:wght@300&display=swap');

body {
    padding: 0 2%;
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0%;
    background-color: white;
}

nav .profil {
    display: flex;
    align-items: center;
}

nav .profil img {
    width: 50px;
    height:auto;
    border-radius: 50%;
}

nav .profil h1 {
    margin-left: 10px;
    font-size: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

nav ul li:hover {
    border-bottom-color: brown;
}

/*media query responsive mobile inf.700px*/
@media screen and (max-width:700px){
    nav {justify-content: center;
    }
    nav ul {display: none;
    }

    footer {
        justify-content: flex-start;
    }

    footer .column {
        width: 80%;
    }
}


/*header*/
.page {
    margin: 4%;
}

.page header {
    margin-top: 5%;
    max-width: 75%;
}

.page header h1 {
    margin: 0%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 5vw;
}

.page header p {
    color: grey;
}

.page header button {
    background-color: inherit;
    border: none;
    outline: none;
    padding-left: 0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid grey;
    cursor: pointer;
}
.page header button:hover {
    color:grey;
    border-bottom-color:black;
}


.page .presentation-image {
margin-top: 5%;
}

.page .presentation-image img {
    max-width: 100%;
    height: auto;
    transition: 0,5s;
}

.page .presentation-image img:hover {
    filter: brightness(50%);
}

footer {
margin-top: 5px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
background-color: black;
color: white;
padding: 10px;

}

footer .column .p {
    font-size: 12px;
    color: grey;

}
/*.page .a-propos h1 {
    margin: 0%;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    font-size: 6vw;
}